<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<%@ page language="java" pageEncoding="UTF-8"%>
<%@ taglib prefix="ta" tagdir="/WEB-INF/tags/tatags" %>
<html>
<head>
    <title></title>
    <%@ include file="/ta/inc.jsp"%>
</head>
<body class="no-scrollbar" style="padding:0px;margin:0px">
<ta:pageloading/>
<ta:fieldset id="${tableName}_fs" key="检索条件" cssStyle="padding-top:10px;padding-right:20px;" cols="3">
#foreach($field in $fields)
#if($field.isCondition)
#if("${field.fieldType}"=="varchar" or "${field.fieldType}"=="char" or "${field.fieldType}"=="text" or "${field.fieldType}"=="clob")
#if("$!{field.codeName}" == "")
    <ta:text id="${field.fieldName}"  key="${field.fieldDesc}"/>
#else
    <ta:selectInput id="${field.fieldName}" key="${field.fieldDesc}" collection="${field.codeName}"/>
#end
#elseif("${field.fieldType}"=="int" or "${field.fieldType}"=="number" or "${field.fieldType}"=="decimal" or "${field.fieldType}"=="numeric" or "${field.fieldType}"=="money" or "${field.fieldType}"=="double" or "${field.fieldType}"=="float" or "${field.fieldType}"=="integer")
    <ta:number id="${field.fieldName}" key="${field.fieldDesc}"/>
#elseif("${field.fieldType}"=="date" or "${field.fieldType}"=="timestamp" or "${field.fieldType}"=="datetime" or "${field.fieldType}"=="time")
    <ta:date id="${field.fieldName}" key="${field.fieldDesc}" showSelectPanel="true"/>
#else
    <ta:text id="${field.fieldName}"  key="${field.fieldDesc}"/>
#end
#end
#end
    <ta:buttonLayout  align="left" >
        <ta:button key="查询" isok="true" isShowIcon="true" onClick="search()"/>
        <ta:button key="重置" isok="true" isShowIcon="true" onClick="reset()"/>
    </ta:buttonLayout>
</ta:fieldset>
<ta:box fit="true" minWidth="600">
    <ta:panel fit="true" key="列表" id="${tableName}_panel">
        <ta:buttonLayout id="btnlayout" align="left" >
            <ta:button key="新增" isok="true" isShowIcon="true" onClick="addData()"/>
            <ta:button key="删除" isok="true" isShowIcon="true" onClick="removeData()" />
        </ta:buttonLayout>
        <ta:datagrid id="${tableName}_dg"  forceFitColumns="true" fit="true" haveSn="true" selectType="checkbox">
#foreach($field in $fields)
            <ta:datagridItem key="${field.fieldDesc}" id="${field.fieldName}" #if(${field.isPK})hiddenColumn="true"#end #if("$!{field.codeName}" != "")collection="${field.codeName}" #end #if("${field.fieldType}" == "date") dataType="date" #elseif("${field.fieldType}" == "datetime" or "${field.fieldType}" == "timestamp") dataType="datetime" #end/>
#end
            <ta:datagridItem icon="icon-edit" key="修改" width="40px"  click="updateData" />
            <ta:dataGridToolPaging submitIds="${tableName}_fs" url="toMain!queryList.do"
                                   pageSize="20" showExcel="true" selectExpButtons="1,2"/>
        </ta:datagrid>
    </ta:panel>
</ta:box>
</body>
</html>
<script type="text/javascript">
#*
      这是velocity模板的注释，不会输出
      下面的代码只用于定义变量，以第一个PK字段作为ID
*#
#foreach($field in $fields )#if(${field.isPK})#set($my_data_id = "${field.fieldName}")#break#end#end
    /**
     * ${tableDesc}管理功能主页面
     * 通过兴政代码生成插件自动生成，开发人员需要根据业务需要对生成代码进行调整
     * 创建人：$user
     * 创建时间：$currTime
     * 版本号：1.0
     */
    $(document).ready(function () {
        $("body").taLayout();
        search();
    });
    /**
     * 条件查询
     */
    function search() {
        Base.showMask();
        Base.clearGridData("${tableName}_dg");
        Base.submit("${tableName}_fs,${tableName}_dg","toMain!queryList.do",null,null,null,function () {

        });
    }
    /**
     * 重置条件
     */
    function reset(){
        Base.clearData("${tableName}_fs");
    }
    /**
     * 删除数据
     */
    function removeData(){
        var removeDatas =Base.getGridSelectedRows("${tableName}_dg");
        if(removeDatas.length==0){
            Base.alert("请选择要删除的数据！");
            return;
        }
        Base.confirm("确定删除吗?",function(yes){
            if(yes){
                var param = {};
                var ${my_data_id} = "";
                for(var i=0;i<removeDatas.length;i++){
                    if(i==0){
                        ${my_data_id} += removeDatas[i].${my_data_id};
                    }else{
                        ${my_data_id} += ","+removeDatas[i].${my_data_id}
                    }
                }
                param["dto['delete_ids']"] = ${my_data_id};
                Base.submit("","toMain!removeData.do",param,null,null,function(){
                    search();
                });
            }
        });
    }
    /**
     * 打开数据更新页面
     * @param data
     * @param e
     */
    function updateData(data,e){
        var param={};
        param["dto.${my_data_id}"] =data.${my_data_id};
        Base.openWindow("${tableName}_window","信息修改","toMain!toEdit.do",param,"70%","70%",null,function(data){
            search();
        },true);
    }

    /**
     * 打开数据新增页面
     */
    function addData(){
        Base.openWindow("${tableName}_window","信息修改","toMain!toEdit.do",null,"70%","70%",null,function(data){
            search();
        },true);
    }

</script>
<%@ include file="/ta/incfooter.jsp" %>